@import '../utils/variables.scss';
@import '../utils/mixins.scss';

* {
    padding: 0px;
    margin: 0px;
    font-family: "DM Sans", sans-serif;
}

body {
    color: $secondary-color;
    background-color: $primary-color
}

a {
    text-decoration: none;
    color: $secondary-color;
}

h6 {
    letter-spacing: 2px;
    font-weight: 400;
    color: $secondary-color-soft-2;
}

ul {
    list-style: none;
}

button {
    padding: 10px 18px;
    border: 0px solid;
    border-radius: 8px;
    color: $secondary-color;
    background-color:$primary-color;
    transition: 0.3s;
    font-size: 16px;
}

button:hover {
    background-color: $secondary-color;
    padding: 12px 20px;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}


input {
    padding: 14px 20px;
    border-radius: 80px;
    border: 0px solid;
    color: $secondary-color-soft;
    background: $transparent;
    transition: background 0.4s ease;
}

input:hover, input:focus {
    color: $primary-color;
    background: $secondary-color;
    outline: none;
}
