#home {
    display: flex;
}

#contentHome {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px
}

#contentCards {
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
}