#navBar {
    width: 100%;
}

#navBar img {
    height: 32px;
    padding-top: 2px;
}

#navBar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
}

#navBar li {
    font-weight: 600;
}

#navBar div {
    display: flex;
    gap: 20px;
}