#contentSearch {
    display: flex;
    gap: 20px;
    justify-content: center;
}

#contentSearch form {
    flex: 1;
}

#contentSearch form input {
    width: 100%;
    box-sizing: border-box;
}

#sortButtons {
    display: flex;
    gap: 10px; 
}

